/* my first css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    width: 75%;
    margin: 0 auto;
    
}

img {
    border: 10px solid lightblue;
}

section h1 {
    text-align: center;
    margin: 0 auto;
}

h1 {
    color: #876ed7;
    border: 2px solid lightblue;
    margin:0 auto;
    
}

h2, h3 {
    font-family: cursive;
    color: #6a48d7;
    font-style: oblique;
}


blockquote {
    border: 4px dotted #D65DB1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    color: #D65DB1;
  
}

cite{
  font-size: 1.5rem;
  color: #4E8397;
}

.bigbold {
  font-weight:lighter;
  font-size: 1.0rem;
}

section p {
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
}
