/* my first css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    width: 75%;
    margin: 0 auto;
    
}

h1 {
    color: #876ed7;
    border: 2px solid #845EC2;
    margin:0 auto;
}

section h1 {
    text-align: center;
    margin: 0 auto;
}

h2, h3 {
    font-family: cursive;
    color: #6a48d7;
    font-style: oblique;
}

blockquote {
    border: 4px dotted #D65DB1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    color: #D65DB1;
  
}

cite{
    font-size: 1.5rem;
    color: #4E8397;
}

section p {
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
}

p:hover {
    background-color: #FFFFFF;
    color: #9B89B3;
}

img {
    border: 10px solid #B39CD0;
    display: block;
    margin: 0 auto;
}

.bigbold {
    font-weight:lighter;
    font-size: 1.0rem;
}

hr {
    border: 1px dashed #845EC2;
}

ul a:link {
    color: #008B74;
    text-decoration: none;
    font-family: 'sans serif';
}

ul a:hover {
    color: #FF9671;
    font-weight: bold;
}

a:link {
    color: #008B74;
    text-decoration: none;
}

a:visited {
    color: #00C9A7;
    text-decoration: none;
}
a:focus {
    border: 3px dotted black;
}
a:hover {
    color: #04004A;
    font-weight: bold;
}




